/* 'https://code.highcharts.com/5/css/highcharts.css'; */

/* @import 'https://code.highcharts.com/5/css/highcharts.css'; */

/* .highcharts-title {
	stroke: lightgreen;
	font-size: 26px;
	font-weight: bold;
}

.highcharts-yaxis-grid .highcharts-grid-line,
.highcharts-yaxis-grid .highcharts-minor-grid-line {
	color: red;
	background-color:green;
	stroke: rgb(201, 28, 43);
}

.highcharts-color-0 {
	fill: lightgreen;
	stroke: rgb(165, 228, 17);
  }

.highcharts-color-1 {
	fill: rgb(19, 233, 126);
	stroke: #17bd6a;
  }

.highcharts-color-2 {
	fill: blue;
	stroke: #f45b5b;
  }

  .cssstyles{
	  color: red;
  }

  .highcharts-background {
    fill: rgb(47, 154, 255);
  } */

    /* Titles */
	/* .highcharts-title { */
		/* fill: #ca2525; */
		/* fill: #333333; */
		/* stroke: green;
		font-size: 1.5em;
	  } */